target/
*.jar
.idea/
*.iml
.vscode/

# Maven local extraido do maven.zip
tools/

# Servidor
server/data/
server/plugins/*.jar
server/plugins/*/
!server/plugins/README.md
server/banned-ips.json
server/banned-players.json
server/bukkit.yml
server/commands.yml
server/config/
server/eula.txt
server/help.yml
server/logs/
server/ops.json
server/permissions.yml
server/server.properties
server/spigot.yml
server/usercache.json
server/version_history.json
server/whitelist.json
server/world/
server/world_nether/
server/world_the_end/
server/cache/
server/libraries/
server/versions/

